header a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 30px;
    font-weight: bold;
    
   
    margin-top: 15px;
 } 
p {
    color: grey;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 40px;
}
h1 {
    font-size: 105px;
    margin-left: 30px;
}
hr {
    height: 8px;
    background-color: purple;
    width: 180px;
    float: left;
    border: 0; 
    margin-left: 30px;
}
button {
    background-color: purple; 
    border-color: purple;
    color: white;
    border-radius: 50px;
    height: 50px;
    width:180px;
    font-weight: bold;
}
div > a {
    text-decoration: none;
}
header {
    margin-top: 50px;
   
    width: 1500px;
    margin-left: calc((100% - 1500px) / 2);

    
    font-size: 30px;
    color:black;
    font-weight: bold;
}
main {
    
    width: 1500px;
    margin-left: calc((100% - 1500px) / 2);
    display: inline-block;
    
    font-size: 20px;
}
footer {
    
    width: 1500px;
    margin-left: calc((100% - 1500px) / 2);
}   
